
.aswinH1{
    background: url('../images/dfhg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #000
}
.no-webp .main-bg-aswin{
    background-image:url(../images/main_bg2.jpg);
}
.webp .main-bg-aswin{
    background-image: url(../images/main_bg2.webp);
}
.no-webp .about-aswin{
    background-image:url(../images/about.jpg);
}
.webp .about-aswin{
    background-image:url(../images/about.webp);
}
.no-webp .overlay-top-aswin{
    background-image: url(../images//top-bg.jpg);
}
.webp .overlay-top-aswin{
    background-image: url(../images/top-bg.webp);
}
.no-webp .overlay-bottom-aswin{
    background-image: url(../images/bottom-bg.jpg);
}
.webp .overlay-bottom-aswin{
    background-image: url(../images/bottom-bg.webp);
}
.no-webp .bride-aswin{
    background-image: url(../images/bride.png);
}
.webp .bride-aswin{
    background-image: url(../images/bride.webp);
}
.no-webp .groom-aswin{
    background-image: url(../images/groom.png);
}
.webp .groom-aswin{
    background-image: url(../images/groom.webp);
}
.no-webp .place1-aswin{
    background-image: url(../images/place-1.jpg);
}
.webp .place1-aswin{
    background-image: url(../images/place-1.webp);
}
.no-webp .place2-aswin{
    background-image: url(../images/place-2.jpg);
}
.webp .place2-aswin{
    background-image: url(../images/place-2.webp);
}
.no-webp .shri-parents-aswin{
    background-image: url(../images/shri_parents.jpg);
}
.webp .shri-parents-aswin{
    background-image: url(../images/shri_parents.webp);
}
.no-webp .susu-parents-aswin{
    background-image: url(../images/susu_parents.jpg);
}
.webp .susu-parents-aswin{
    background-image: url(../images/susu_parents.webp);
}
.engage-aswin{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.parents-text-aswin h3,h1{
    line-height: 1.2;
}

.no-webp .siddhu-aswin{
    background-image: url(../images/friends/Siddarth.jpg);
}
.webp .siddhu-aswin{
    background-image: url(../images/friends/Siddarth.webp);
}
.no-webp .ishu-aswin{
    background-image: url(../images/friends/Ishu-1.jpg);
}
.webp .ishu-aswin{
    background-image: url(../images/friends/ishu-1.webp);
}
.no-webp .nava-aswin{
    background-image: url(../images/friends/Nava.jpg);
}
.webp .nava-aswin{
    background-image: url(../images/friends/Nava.webp);
}
.no-webp .nikki-aswin{
    background-image: url(../images/friends/Nikki.jpg);
}
.webp .nikki-aswin{
    background-image: url(../images/friends/Nikki.webp);
}
.no-webp .sk-aswin{
    background-image: url(../images/friends/sk.jpg);
}
.webp .sk-aswin{
    background-image: url(../images/friends/SK.webp);
}
.no-webp .akshaya-aswin{
    background-image: url(../images/friends/akshaya.jpg);
}
.webp .akshaya-aswin{
    background-image: url(../images/friends/akshaya.webp);
}
.no-webp .aswin-aswin{
    background-image: url(../images/friends/aswin.jpg);
}
.webp .aswin-aswin{
    background-image: url(../images/friends/aswin.webp);
}
.no-webp .akshaya-2-aswin{
    background-image: url(../images/friends/aishu.jpg);
}
.webp .akshaya-2-aswin {
    background-image: url(../images/friends/aishu.webp);
}
.no-webp .gowtham-aswin{
    background-image: url(../images/friends/Gowtham.jpg);
}
.webp .gowtham-aswin{
    background-image: url(../images/friends/Gowtham.webp);
}